body {
    font-family: 'Ysabeau', 'Heebo', sans-serif;
    background-color: #eaf7ee;
    margin-left: 100px;
    margin-right: 100px;
}

p {
    font-size: 1em;
    letter-spacing: 1.5px;
    font-family: 'Heebo';
    padding: 20px;
    color: #464646;
}

h1,
h2,
h3 h4 {
    font-family: 'Ysabeau';
    margin-top: 30px;
    letter-spacing: 1px;
    text-align: center;
}

h1 {
    font-weight: bolder;
    font-size: 3em;
    color: #000;
}

h2 {
    font-size: 2.25em;
    color: #000;
    font-weight: bold;
}

h3 {
    font-size: .75em;
    text-transform: uppercase;
    color: #5a5a5a;
    text-align: center;
}

h4 {
    font-size: .5em;
    color: #5a5a5a;
    text-align: center;
}

.container {
    text-align: center;
    background-color: #83ddbc;
    color: #2f2f2f;
    padding: 20px;
}

.container p {
    font-size: .65em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-family: 'Heebo';
    padding: 20px;
}

.main {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 80px;
}

.info {
    border-left: 3px solid #608f81;
    padding-left: 20px;
    font-weight: bold;
}

.info p {
    font-family: 'Heebo';
    letter-spacing: 1px;
    font-size: .95em;
    text-transform: uppercase;
    color: #7c7c7c
}

.info ul {
    color: #76ae9d;
}

.data {
    margin-bottom: 100px;
    margin-top: 100px;
}

video, button {
    display: block;
    margin: 0 auto;
}

footer{
    margin-top: 100px;
    margin-bottom: 50px;
}
