body {
  font-family: 'Nunito', sans-serif;
} 

.home {
  background-color: #f1a4a7;
}

.home p {
  color:#664C4B;
  font-size: 120%;
}

.sub {
  background-color: white;
}

nav {
  overflow: hidden;
}

nav a {
  text-decoration: none;
}

.home nav {
  background-color: whitesmoke;
}

.sub nav {
  background-color: #68c9cd;
}

.home nav a{
  color:#f1a4a7;
  padding: 18px 18px;
}

.sub nav a {
  color:#000000;
  padding: 14px 14px;
}

.home nav a:hover {
  background-color: #ffe0c0;
  color: black;
}

.sub nav a:hover {
  background-color: #ffe0c0;
  color:#fa7e63;
}

h1,
h2,
.home .container {
  text-align: center;
}

h1 {
    color: #000000;
    font-size: 300%;
    font-weight: bold;
    margin-top: 100px;
    
}

h2 {
  color: black;
    font-size: large;
    margin-bottom: 50px;
}

.home img{
  height: 250px;
}

footer{
margin: 1em 0 0 0;
}

.clips li {
  padding: 1em 0;
}

.resume h3 {
  text-align: center;
  font-size: large; 
  text-decoration: underline;
}