body {
    font-family: 'Nunito', sans-serif;
    background-color: white;
}

nav {
    background-color: #68c9cd;
    overflow: hidden;
}

nav a {
    color: #000000;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffe0c0;
    color: #fa7e63;
}

.container {
    text-align: center;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    margin-top: 100px;

}

h2 {
    color: black;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
}
h3 {
    color: black;
    text-align: left;
    font-size: large;
    text-decoration:underline;
}


p {
    color: #664C4B;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 100%;
    text-align: left;
}
